{% extends 'base.html' %}

{% block content %}

<h1>{{user.username}}</h1>
<h1>{{user.email}}</h1>
<h1>{{user.first_name}}</h1>
<h1>{{user.last_name}}</h1>

<ul>
  {% for note in user.notes %}
  <li>{{note.title}}
    <div>
      {{note.content}}
    </div>

    <a href="/notes/{{note.id}}/update">Edit note</a>
    <form action="/notes/{{note.id}}/delete" method="POST">
      {{ form.hidden_tag() }}

      <button type="submit">Delete note</button>
    </form>

  </li>
  {% endfor %}
</ul>

<a href="/users/{{user.username}}/notes/add"> Add new note!
</a>

<form action="/users/{{user.username}}/delete" method="POST">

  {{ form.hidden_tag() }}
  <button type="submit"> Delete user account</button>
</form>


{% endblock %}